<p>Techplus</p>
<nav class="navbar">
    <mat-list>
    <mat-divider></mat-divider>

    <mat-list-item>
        <a title="home"
            routerLink="/home"
            routerLinkActive="active">
        <mat-icon matListIcon>home</mat-icon>
        <span matLine>Home</span>
        </a>
    </mat-list-item>
    
    <mat-divider></mat-divider>
    
    <mat-list-item>
        <a title="dashboard"
            routerLinkActive="active"
            routerLink="/dashboard">
        <mat-icon matListIcon>dashboard</mat-icon>
        <span matLine>Dashboard</span>
        </a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
        <a title="users"
            routerLinkActive="active"
            routerLink="/users">
        <mat-icon matListIcon>person</mat-icon>
        <span matLine>Users</span>
        </a>
    </mat-list-item>

    <mat-divider></mat-divider>
    
    </mat-list>
</nav>
<footer><span>v4.0</span></footer>