<main>
    <h1>Dashboard</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum eius ipsum, accusantium ducimus totam provident unde. Optio incidunt tenetur, fugiat quibusdam temporibus iusto inventore placeat architecto recusandae aliquid doloremque magnam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, sunt ullam a magnam culpa doloribus quidem provident distinctio labore mollitia dolor eos porro voluptate facilis unde corrupti omnis fugiat placeat.
    </p>
</main>