<main>
    <h1>Home</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore doloribus et possimus illum, repellendus molestias architecto eos non asperiores. Nemo quod quo dolor maiores consectetur mollitia, illum magnam tempora soluta?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum dolore perspiciatis dolores ipsa recusandae placeat. Tenetur, vero? Dignissimos aliquam ut, tempore modi voluptatem, eius id quibusdam qui autem distinctio consequatur?
    </p>
</main>